@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
    background: var(--color-bg-light-500);
    color: var(--color-fg-dark-500);
    font-family: var(--font-family-sans);
    scroll-behavior: smooth;
}

@theme {
    --color-content-500: #26251e;
    --color-content-300: #a3a39e;
    --color-content-100: #f7f7f4;

    --font-family-sans: "Open Sans", sans-serif;
}
